<div class="nav-content">
    <div class="nav-profile">
        <h1>COMPETIZE SCZ</h1>
        <div class="perfil-item background-white user-data">
            <img src="/img/<%= nombreImgUsuario %>" alt="Foto de perfil">
            <span name=""><%= nombreUsuario %></span>
        </div>
    </div>
    <div class="nav-options">
        <div class="nav-option-item">
            <a href="/administrador/Inicio">
                <i class='bx bx-home-alt'></i>Inicio
            </a>
        </div>
        <div class="nav-option-item">
            <a href="/administrador/crear_Evento">
                <i class='bx bx-calendar-event' ></i>Eventos
            </a>
        </div>
        <div class="nav-option-item">
            <a href="" >
                <i class='bx bx-building-house' ></i>Instituciones
            </a>
        </div>
        <div class="nav-option-item">
            <a href="/administrador/crear_Equipo" alt="Equipos">
                <i class='bx bx-shield-alt-2' ></i>Equipos
            </a>
        </div>
        <div class="nav-option-item">
            <a href="/administrador/crear_Jugador">
                <i class='bx bx-user' ></i>Jugadores
            </a>
        </div>
        <div class="nav-option-item">
            <a href="/cerrar_sesion">
                <i class="bx bxs-exit"></i>Cerrar Sesión
            </a>
        </div>
    </div>
</div>